#fat {
    height: 100%;
    position: relative;
}

#fat .fat-tool {
    position: absolute;
    top: 0;
    right: 0;
}
#fat .fat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fat .fat-container .fat-value {
    color: #89bf04;
}
